<div class="">
	<h1>New {{title}}</h1>
	<h5>By {{author}}</h5>

	<div class="body">
		<form class="" action="/{{name}}/create" method="post">
			{{#each elements}}
				<div class="">
					<label for="">{{name}}</label>
					<input type="{{type}}" name="{{name}}" value="" required="{{required}}">
				</div>
			{{/each}}
			<button type="submit">Save {{title}}</button>
		</form>
		<br />
		<a href="/{{name}}">Index</a>
	</div>

	<a href="https://www.npmjs.com/package/sails-inverse-model">More info.</a>
</div>
