<div class="">
	<h1>New {{title}}</h1>

	<div class="body">
		<form class="" action="/{{name}}/update" method="post">
			<input name="id" value="<%= element.id %>" hidden="true" required>
			{{#each elements}}
			<div class="">
				<label for="">{{name}}</label>
				<input type="{{type}}" name="{{name}}" value="<%= element.{{name}} %>" required="{{required}}">
			</div>
			{{/each}}
			<button type="submit">Update {{title}}</button>
		</form>
		<br />
		<a href="/{{name}}">Index</a>
	</div>
</div>